.header:global(.MuiTypography-root) {
  margin-bottom: var(--spacing-1-point-5);
}

.description:global(.MuiTypography-root) {
  margin-bottom: var(--spacing-3);
}

.connectedCount:global(.MuiTypography-root) {
  margin-bottom: var(--spacing-point-5);
}

.searchButton:global(.MuiButton-root) {
  margin-top: var(--spacing-3);
}
