.logoWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: var(--spacing-xlarge);
  width: 100%;
}

.badge :global(.MuiBadge-badge) {
  border-style: solid;
  border-width: 2px;
  border-radius: 100%;
  font-size: 18px;
  font-weight: bold;
  height: 28px;
  width: 28px;
  margin: var(--spacing-tiny);
}

.title:global(.MuiTypography-root) {
  margin-bottom: var(--spacing-tiny);
  text-align: center;
}

.paragraph:global(.MuiTypography-root) {
  margin-bottom: var(--spacing-xlarge);
  text-align: center;
}

.button {
  margin-bottom: var(--spacing-xsmall);
}
