.surveyQuestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggleButtonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  margin-top: var(--spacing-xlarge);
  margin-bottom: 10px;
}

.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  height: 48px;
  padding: var(--spacing-small);
  border: 1px solid var(--mui-palette-divider);
  font-weight: 600;
  color: var(--mui-palette-primary-main);
}

.boundLabels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.errorMessage {
  display: flex;
  align-items: center;
  width: 100%;
}

.textQuestion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--spacing-large);
}

.textQuestionTitle {
  margin-bottom: var(--spacing-medium);
}
