.container:global(.MuiStack-root) {
  background-color: var(--mui-palette-background-paper);
  height: 100%;
  text-align: center;
}

.title:global(.MuiTypography-root) {
  margin-top: var(--spacing-4);
}
