.container:global(.MuiBox-root) {
  flex-grow: 1;
}

.appBar:global(.MuiAppBar-root) {
  background-color: var(--mui-palette-background-paper);
  display: flex;
}

.toolbar:global(.MuiToolbar-root) {
  max-width: 400px;
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.button:global(.MuiIconButton-root) {
  color: var(--mui-palette-text-primary);
}
