.container {
  background-color: var(--mui-palette-background-paper);
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5000;
}

.content {
  margin: var(--spacing-2) auto 0;
  max-width: 400px;
  padding: 0 var(--spacing-3);
}

.header:global(.MuiStack-root) {
  margin-bottom: var(--spacing-2);
}

.text:global(.MuiTypography-root) {
  margin-bottom: var(--spacing-1-point-5);
}

.buttons:global(.MuiStack-root) {
  margin-top: var(--spacing-3);
}
