.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.logoContainer {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  top: -16px;
  right: -16px;
  background: white;
  border-radius: 50%;
  display: flex;
  line-height: 0;
}

.title:global(.MuiTypography-root) {
  margin-bottom: 4px;
  margin-top: 32px;
  font-size: 23px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.body:global(.MuiTypography-root) {
  text-align: center;
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 24px;
}

.body strong {
  font-weight: 700;
}
