.institutionBlock {
  margin-bottom: var(--spacing-3);
}

.headerText:global(.MuiTypography-root) {
  padding-bottom: var(--spacing-1);
}

.credentialsError {
  margin-top: var(--spacing-2);
}

.form {
  padding-top: var(--spacing-3);
}

.passwordInputError {
  margin-top: var(--spacing-1);
}

.inputError {
  margin-bottom: var(--spacing-3);
  margin-top: var(--spacing-1);
}

.actionColumn {
  margin-bottom: var(--spacing-point-5);
}

.requiredFieldNote:global(.MuiBox-root) {
  margin-bottom: var(--spacing-1-point-5);
  margin-top: 0;
}

.continueButton:global(.MuiButton-root) {
  margin-bottom: var(--spacing-1);
}
