.container:global(.MuiStack-root) {
  margin-bottom: var(--spacing-3);
}

.title:global(.MuiTypography-root) {
  margin-bottom: var(--spacing-point-5);
}

.paragraph:global(.MuiTypography-root) {
  margin-bottom: var(--spacing-1);
}

.link:global(.MuiLink-root) {
  font-size: 13px;
  font-weight: 600;
  gap: var(--spacing-point-5);
}
