.logoHeader {
  margin-bottom: var(--spacing-1-point-5);
  margin-top: var(--spacing-2);
}

.title:global(.MuiTypography-root) {
  margin-top: var(--spacing-3);
  text-align: center;
}

.sections:global(.MuiStack-root) {
  margin-bottom: var(--spacing-point-5);
}

.icon {
  display: block;
}

.subTitle:global(.MuiTypography-root) {
  margin-left: var(--spacing-1-point-5);
}

.paragraph:global(.MuiTypography-root) {
  margin-left: var(--spacing-4-point-5);
}

.link:global(.MuiLink-root) {
  gap: var(--spacing-point-5);
  margin-left: var(--spacing-4);
  margin-top: var(--spacing-2);
  width: fit-content;
}
