.institution-panel-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.institution-panel-inside-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 8px 8px;
}
.institution-panel {
  width: 300px;
  margin-top: 20px;
  pointer-events: none;
}
.institution-panel-header {
  background-color: #d9181f;
  border-radius: 8px 8px 0 0;
  font-size: 18px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.institution-panel-body {
  padding: 0 16px;
  font-size: 13px;
}

.institution-panel-body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.institution-panel-body li {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.institution-panel-body input[type='checkbox'] {
  margin-right: 8px;
}
