.formControl:global(.MuiFormControl-root) {
  width: 100%;
}

.radioGroup:global(.MuiFormGroup-root) {
  margin-top: var(--spacing-1);
  padding-bottom: var(--spacing-4);
}

.button:global(.MuiButton-root) {
  margin-bottom: var(--spacing-1-point-5);
}
