.title:global(.MuiTypography-root) {
  margin-bottom: var(--spacing-2);
}

.formControl:global(.MuiFormControl-root) {
  width: 100%;
}

.radioGroup:global(.MuiFormGroup-root) {
  justify-content: space-between;
  margin-top: var(--spacing-1);
  padding-bottom: var(--spacing-2);
}

.radioGroup > :global(.ph-no-capture) {
  width: 48%;
}

.input {
  margin-bottom: var(--spacing-4);
}

.button:global(.MuiButton-root) {
  margin-bottom: var(--spacing-1-point-5);
}
