.title:global(.MuiTypography-root) {
  display: block;
  margin-bottom: var(--spacing-3);
}

.subTitle:global(.MuiTypography-root) {
  display: block;
  margin-bottom: var(--spacing-point-5);
}

.instantBlock {
  margin-bottom: var(--spacing-point-25);
}

.institutions {
  margin-left: calc(-1 * var(--spacing-2));
  margin-right: calc(-1 * var(--spacing-2));
}

.hr {
  margin-top: var(--spacing-1-point-5);
}

.twoToThreeBlock {
  margin-top: var(--spacing-3);
}

.actionTile {
  margin-left: calc(-1 * var(--spacing-1-point-5));
  margin-right: calc(-1 * var(--spacing-1-point-5));
  margin-top: var(--spacing-point-5);
}

.actionTile :global(.MuiSvgIcon-root) {
  color: var(--mui-palette-common-white);
}
